/* ==============================
        Main Element Layout
================================= */


/* ================================
        Heading layout & Styles
================================*/



/*================================
   Navigation Layout & Styles
================================*/


/* =================================
       Inventory Layout & Styles
   =================================*/


.fascinators {
        color: rgb(190, 15, 190);
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 0;
}


/* ---- Containers/Divs ---- */



/*================================
        Media Queries
================================*/




/* ---- Float clearfix ---- */