
/*================================
   Navigation Layout & Styles
================================*/


/* =================================
       Inventory Layout & Styles
   =================================*/

/* ---- h1 element under nav bar ---- */

#main-heading {
        color: rgb(236, 44, 236);
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 0;
        font-family: cursive;
}

/* ---- List Inventory Styles ---- */

.mockUp {
        margin-bottom: 4rem;
}

/* ---- input styles ---- */

/* #callNum, 
#price,
#cost,
#profit {
        border-color: black; 
} */

/* ---- "calculate" button under list item form ---- */

.calcBtn {
        background-color: rgb(236, 44, 236);
        border-color: black;
        margin-top: 5px;
}


/* ---- Containers/Divs ---- */



/*================================
        Media Queries
================================*/




/* ---- Float clearfix ---- */