
/*================================
   Navigation Layout & Styles
================================*/

/* ---- Navigation Image/Logo ---- */

.navImg {
        height: 100%;
        width: 100%;
}

.hyperlinkImg {
        padding: 0;
        margin-right: 20px;
        width: 25%;
        float: left;
}


/* =================================
       Inventory Layout & Styles
   =================================*/

/* ---- h1 element under nav bar ---- */

#main-heading {
        color: rgb(236, 44, 236);
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 0;
        font-family: cursive;
}

/* ---- List Inventory Styles ---- */

.mockUp {
        margin-bottom: 4rem;
}



/* ---- "calculate" and "Reset" button under list item form ---- */

.calcBtn,
.resetBtn {
        background-color: rgb(236, 44, 236);
        border-color: black;
        margin-top: 5px;
}


/* ---- Containers/Divs ---- */



/*================================
        Media Queries
================================*/




/* ---- Float clearfix ---- */